th{
    font-size: 10pt;
    color: black;
}
/* class */
.judul {
    font-size: 10pt;
    color:black;
}

/* id */
#input1 {
    font-size: 10pt;
    color: lightcoral;
}

.d1 {
    background-color: blue;
}

